# Gradle local settings & cache
.externalNativeBuild
gradle.properties
.gradle
/build

# Android Studio
/local.properties
/captures
.idea
*.iml

# Apple's junk
.DS_Store

# Notepad++
**/*.bak

# Visual Studio Code
**/.vscode
**/.classpath
**/.project
**/.settings
